body{
	/* background: #999; */
}
.hiddenTd{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
#lcs-table{
	background: #eee;
	float: left;
	margin:70px;
	text-align:center;
}
#lcs-table-data{
	/* width:500px;
	height: 300px; */
	font-size:18px;
	border:#ddd solid 5px;
}
#lcs-table-data td{
	width:70px;
	height:70px;
}
#lcs-table-data th{
	width:70px;
	height:70px;
}
#lcs-table-data td:hover{
	
	background: #AAA;
}
#lcs-table th{
	text-align:center;
}
#lcs-table-data-th{
	background: #999;
}

.lcs-table-data-rh{
	width:auto;
	height:auto;
	font-weight: bold;
	background: #999;
}
#lcs-result{
	float: left;
	margin:70px;
}
#lcs-result{
	font-size: 20px;
	border:solid 5px #ddd;
	
}
#lcs-result-head{
	background: #eee;
	padding:5px;
}
#lcs-result-content{
	padding:70px;
}
#lcs-result-min-text{
	color:red;
}
#lcs-result-multi-text{
	color:red;
}