#info{
	width: 150px;
	height: 80px;
	text-align:center;
	background: white;
	border: none;
	-webkit-border-radius: 15x;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	font-size: 15px;
	line-height: 60px;
	font-weight: bold;
	font-family: "微软雅黑";
	position: fixed;
	margin:auto;
	/* left:0; */
    right:50px;
   /*  top:50%; */
   bottom:15px;
	z-index: 1000;
	filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
	-moz-opacity:1; /*Firefox私有，透明度50%*/
	opacity:1;/*其他，透明度50%*/
}