<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>BookStoreFilter</display-name>
    <filter-name>BookStoreFilter</filter-name>
    <filter-class>com.sxb.servlet.BookStoreFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BookStoreFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>1.首页</description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.sxb.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>1.1首页信息查询</description>
    <servlet-name>IndexQuery</servlet-name>
    <servlet-class>com.sxb.servlet.IndexQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexQuery</servlet-name>
    <url-pattern>/IndexQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>1.2首页信息查询详情</description>
    <servlet-name>QueryDetail</servlet-name>
    <servlet-class>com.sxb.servlet.QueryDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDetail</servlet-name>
    <url-pattern>/modules/user/jsp/QueryDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>2.商品详情</description>
    <servlet-name>GoodDetail</servlet-name>
    <servlet-class>com.sxb.servlet.GoodDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodDetail</servlet-name>
    <url-pattern>/GoodDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>2.1商品购买确认</description>
    <servlet-name>GoodBuy</servlet-name>
    <servlet-class>com.sxb.servlet.GoodBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodBuy</servlet-name>
    <url-pattern>/GoodBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>3.用户个人信息</description>
    <servlet-name>User</servlet-name>
    <servlet-class>com.sxb.servlet.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>3.1用户个人信息修改</description>
    <servlet-name>UserEdit</servlet-name>
    <servlet-class>com.sxb.servlet.UserEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEdit</servlet-name>
    <url-pattern>/UserEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4用户登陆</description>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.sxb.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>5用户登出</description>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.sxb.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>6用户注册</description>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.sxb.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>1.后台首页</description>
    <servlet-name>AdminIndex</servlet-name>
    <servlet-class>com.sxb.servlet.AdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex</servlet-name>
    <url-pattern>/AdminIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>2..管理员登陆</description>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.sxb.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>2..管理员登出</description>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.sxb.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>3.用户管理</description>
    <servlet-name>AdminUserManage</servlet-name>
    <servlet-class>com.sxb.servlet.AdminUserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserManage</servlet-name>
    <url-pattern>/modules/admin/jsp/AdminUserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>3.1用户信息编辑</description>
    <servlet-name>AdminUserEdit</servlet-name>
    <servlet-class>com.sxb.servlet.AdminUserEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEdit</servlet-name>
    <url-pattern>/AdminUserEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>3.2用户信息删除</description>
    <servlet-name>AdminUserDelete</servlet-name>
    <servlet-class>com.sxb.servlet.AdminUserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDelete</servlet-name>
    <url-pattern>/AdminUserDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.商品管理</description>
    <servlet-name>AdminGoodManage</servlet-name>
    <servlet-class>com.sxb.servlet.AdminGoodManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodManage</servlet-name>
    <url-pattern>/modules/admin/jsp/AdminGoodMange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.1.增加商品</description>
    <servlet-name>AdminGoodAdd</servlet-name>
    <servlet-class>com.sxb.servlet.AdminGoodAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodAdd</servlet-name>
    <url-pattern>/modules/admin/jsp/AdminGoodAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.2.编辑商品</description>
    <servlet-name>AdminGoodEdit</servlet-name>
    <servlet-class>com.sxb.servlet.AdminGoodEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodEdit</servlet-name>
    <url-pattern>/modules/admin/jsp/AdminGoodEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.3删除商品</description>
    <servlet-name>AdminGoodDelete</servlet-name>
    <servlet-class>com.sxb.servlet.AdminGoodDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodDelete</servlet-name>
    <url-pattern>/AdminGoodDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.4查看商品</description>
    <servlet-name>AdminGoodDetail</servlet-name>
    <servlet-class>com.sxb.servlet.AdminGoodDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodDetail</servlet-name>
    <url-pattern>/modules/admin/jsp/AdminGoodDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>5.1下载文件</description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>com.sxb.tool.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>5.2上传文件</description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.sxb.tool.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/admin/FileUpload</url-pattern>
  </servlet-mapping>
</web-app>